.DS_Store
*.dwarf
/.shards/
/bin/
/lib/
/logs/

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

__pycache__
.cache
.venv
site/

coverage/

# Ignore `lib` symlink related to building docs
# This includes bundle docs, due to mkdocs project plugin limitations
/src/components/**/lib
