mkdocs ~= 1.6.1

# 4.53.17 / 9.6.21
mkdocs-material@git+ssh://git@github.com/athena-framework/mkdocs-material-insiders.git@3ccb025154441324c8b0a49a3cc38ae07ad6f801

mkdocstrings-crystal ~= 0.3.5
mkdocs-gen-files ~= 0.5.0
mkdocs-literate-nav ~= 0.6.2
mkdocs-autorefs ~= 1.4.3
mkdocs-section-index>=0.3.10
